# ───── Dependencies ─────
**/node_modules/

# ───── Build Artifacts ─────
**/build/
**/coverage/
**/dist/
.next/

# ───── Environment Variables ─────
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*
!.env.example

# ───── Logs ─────
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ───── Secret & Cert Files ─────
*.pem
*.key
certs/
backend/firebaseKey.json

# ───── System / Editor Files ─────
.DS_Store
.vscode/
*.local

# ───── Databases ─────
*.sqlite

# ───── Prisma ─────
backend/generated/prisma/
